@font-face {
    font-family: "CircularBold";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Bold.otf")
}

@font-face {
    font-family: "CircularMedium";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Medium.otf")
}

@font-face {
    font-family: "CircularBook";
    src: url("https://mattroush.github.io/HoagSFCustom/fonts/CircularXX-Book.otf")
}

@font-face {
    font-family: "Arial";
    src: url("https://fonts.cdnfonts.com/css/arial");
}

@font-face {
    font-family: "Georgia";
    src: url("https://fonts.cdnfonts.com/css/georgia-2");
}
